@model Movie.WebUI.Models.ViewModel.DetailsVM

<div id="movieIndexContainer" class="container">
    <div class="row">
        <div id="left-pane" class="col-lg-6 col-12">
            <div class="row">
                <div id="movieTitle">
                    <h1 id="movieTitleText">@Model.Movie.Title</h1>
                </div>
            </div>
            <div class="row">
                <div id="movieYear">
                    <h1 id="movieTitleText">(@Model.Movie.ReleaseDate.Year)</h1>
                </div>
            </div>
            <div class="row">
                <div id="movieGenres">
                    @if (Model.Movie.Genres != null && Model.Movie.Genres.Count() > 0)
                    {
                        @foreach (var genre in Model.Movie.Genres)
                        {
                            <span id="genreText">@genre.Name</span>
                        }
                    }                   
                </div>
            </div>

            @if(User.Identity?.IsAuthenticated == true)
            {
                <div id="movieRatingSection" class="row justify-content-between">
                    <div class="col-md-3 col-4">
                        <div id="movieRating">
                            <i class="fas fa-star"></i>
                            <span>@Model.Movie.Rating</span>
                        </div>
                    </div>
                    <div class="col-md-7 col-8">
                        <div id="userRatingInput">
                            <label>Add your rating: </label>
                            <input id="ratingInput" type="number" value="5" min="1" max="10" step="1" />
                            <input id="ratingInputSubmitBtn"
                                   type="submit"
                                   class="btn btn-dark"
                                   value="Save"
                                   data-url="/API/Movie/@Model.Movie.Id/Rate/" />
                        </div>
                    </div>
                </div>
            }

            <div class="row">
                <div id="reviewsLink" class="col">
                    <a asp-controller="Movie" 
                    asp-action="Reviews"
                       asp-route-movieId="@Model.Movie.Id"
                       class="btn btn-outline-dark">See all reviews <span>(@Model.ReviewsCount)</span></a>
                </div>
            </div>
            <div class="row">
                <div class="movieTrailer">
                    <div class="container">
                        <div class="ratio ratio-16x9">
                            <iframe width="560"
                                    height="315"
                                    src="@Model.Movie.TrailerUrl"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="right-pane" class="col-lg-6 col-12">
            <div class="row">
                <div id="moviePoster" class="col-11">
                    <div class="ratio ratio-1x1">
                        <img class="img-fluid object-fit-contain"
                             src="@Model.Movie.ImageUrl" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="movieDescription" class="col-11">
                    <p id="movieDescriptionText">
                        @Model.Movie.Description
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mb-5">
            <a asp-action="Index" asp-controller="Home" class="btn-primary btn form-control ">Back to Index</a>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/movie/details/movieDetails.js"></script>
}